.small-card {
  height: auto;
  width: auto;
  padding-left: 10px;
  padding-top: 10px;
  padding-right: 10px;
  border: 1px solid none;
  border-radius: 12px;
  margin-right: 20px;
}

.para {
  font-size: 12px;
  margin-bottom: 5px;
}

.button1 {
  color: white;
  background-color: #04067a;
  border-radius: 3px;
  margin: 12px;
  border: none;
  padding: 8px;
}

.button2 {
  color: white;
  background-color: red;
  border-radius: 3px;
  margin: 12px;
  border: none;
  padding: 8px;
}

.form-card {
  height: auto;
  width: auto;
  border-right: 1px solid lightgray;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  border-top: 5px solid #04067a;
  border-radius: 3px;
}

.heading-2 {
  font-size: 22px;
  margin: 20px;
}

.username {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
}

.password {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
}

.options1 {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
}

.options2 {
  width: 100%;
  border-radius: 3px;
  padding: 5px;
  margin-bottom: 15px;
}

.button {
  height: 36px;
  width: 100%;
  background-color: #04067a;
  color: white;
  border: none;
  border-radius: 5px;
}

.bg-container-7 {
  margin-top: 56px;
  margin-bottom: 36px;
}

.heading-7 {
  font-size: 26px;
}
